@import "tailwindcss";

:root{
  --color-primary: #7c3aed;
}

/* You can add global variables, fonts, and small utilities */
html, body, #__next { height: 100%; }
body { @apply bg-white text-slate-900 antialiased; }
.dark body { @apply bg-slate-900 text-slate-100; }

/* smooth scrolling for anchor links */
html { scroll-behavior: smooth; }
